.form-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.form-container{
    border: 1px solid grey;
    border-radius: 2%;
    box-sizing: border-box;
    padding-block: 3%;
    padding-inline: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    margin-block: 2%;
    padding: 5%;
    width: 100%;
}

.input:focus{
    outline-color: #ff7e00;
}

.submit-btn{
    margin-block: 10%;
    color: white;
}

.submit-btn:hover{
    background-color: #ff7e00;
    color: black;
}

.error{
    color: red;
    text-align: center;
}