.profile-container{
    box-sizing: border-box;
    padding: 2%;
}

.profile-title{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.profile-data{
    font-size: 1.7rem;
}

.profile-data b{
    font-size: 2rem;
}

.profile-data span{
    cursor: pointer;
}

.profile-data span:hover{
    text-decoration: underline #ff7e00;
}